* {
    margin: 0;
    padding: 0;
}
body{
    background: url(/clase_03/Primer_Proyecto/img/corina-ardeleanu-sWlxCweDzzs-unsplash.jpg);
    /* background-repeat: no-repeat;   
    background-attachment: fixed; */
    background-size:cover;
}


div{
    background-color: #BE2525;
    opacity: 60%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    font-size:large ;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    color: bisque;
    margin: 0 auto;
    margin-top: 13%;
    /* display: flex;
    justify-content: center;
     */
    display: grid;
    place-content: center;
    
}

